.tablist {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

@media (max-width: 600px) {
  .footer-all {
    position : relative;
    width: 100vw;
    bottom: 0;
  }
  .tablist{
    position: fixed;
  }
}