@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.header_top {
  position: relative;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_h1 {
  font-size: xx-large;
  font-family: 'Sevillana', cursive;
}