* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  /* background-image: url('../public/tennis_bolls.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table,
tr,
td {
  padding-top: 5vh;
  background: rgba(255, 255, 255, 0.5); /* 半透明の白 */
  z-index: -1;
}

tbody *{
  border: 2px solid black;
}



@media (max-width: 600px) {
  .table {
    width: 100%;
    padding: 0 10px;
  }
}
