.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

tbody *{
  border: 2px solid black;
}

@media (max-width: 600px) {
  .table {
    width: 100%;
    padding: 0 10px;
  }
}
